/* src/App.css */
.app {
  text-align: center;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: left;
}

form {
  margin: 20px;
}

form input, form textarea {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
.btn{
  background-color: rgb(109, 109, 254);
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  font-size: large;
  color: white;
  
}
.btn1{
  background-color: gray;
   width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  font-size: large;
  color: white;
}
.container{
  margin: 2px;
  padding:5px ;
}
